body {
  background-color: #444444;
  padding: 20px;
}

.container {
    border: #777 4px solid;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-style: italic;
    text-align: center;
}

.main-nav {
    text-align: center;
    font-family: sans-serif;
    padding: 0px;
}

.main-nav li {
    font-weight: bold;
    display: inline;
    list-style: none;
    padding: 0px 10px 0 10px;
    border-right: #fff 1px solid;
}

.main-nav li:last-child {
    border:none;
}

.main-nav a {
    color: #6ACC9C;
}

.main-nav a:active {
    color: white;
}

a.active {
    color: white;

}

.white-text {
    color: white;
}

.divider {
    width: 100%;
    border-top: 1px solid white;
    margin: 25px 0px
}

.space {
    display: block;
    margin-top: 10px;
    width: 100%;

}

.content h2 {
  font-family: sans-serif;
  padding-top: 10px;
}

.content h3 {
  font-family: sans-serif;
  color: #BCBCBC;
  text-transform: uppercase;
  padding: 20px 0px 10px 0px;
}

.content p {
    font-size: 18px;
    line-height: 26px;
}

.content img {
    float: right;
    margin: 10px;
    padding: 3px;
    border: #777 1px solid;

}

.resume {
  font-family: sans-serif;
  list-style-type: square;
}

.resume li {
  padding-top: 10px;
}

.resume job {
  font-weight: bold;
}

.resume company {
  color: #eee;
}

.resume date {
  color: #bcbcbc;
  font-size: 14px;
}

.resume p {
  font-family: serif;
  color: #bcbcbc;
  font-size: 18px;
  line-height: 28px;
  margin-top: 8px;
}

.education {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  list-style-type: square;
}


.education school {
  font-family: sans-serif;
  font-size: normal;
  font-weight: bold;
  line-height: 24px;
}
